*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100vw;
    height: 15vh;
    background-color: white;
}
.middle{
    width: 100vw;
    height: 55vh;
    background-color: grey;
}
.footer{
    width: 100vw;
    height: 30vh;
    background-color: white;
}

.btn1{
    background-color: white;
    color: black;
    border: none;
    padding-right: 2px;
}

.btn2{
    background-color: orangered;
    color: white;
    border: none;
    padding-right: 2px;
}

    .card {
      background: #fff;
      width: 150px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 7px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      text-align: center;
    }

    .card img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 4px;
    }

    .title {
      font-size: 9px;
      font-weight: bold;
      margin: 5px 0;
    }

    .price {
      color: green;
      font-size: 8px;
      margin: 3px 0;
    }

    .desc {
      font-size: 7px;
      color: #555;
      margin: 5px 0;
    }

    .availability {
      font-weight: bold;
      margin: 5px 0;
      color: blue;
    }

    .btn {
      background: #007bff;
      color: #fff;
      border: none;
      padding: 5px 7px;
      border-radius: 2px;
      cursor: pointer;
    }

    .btn:hover {
      background: #0056b3;
    }
    .middle_main{
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: space-between;
    }
    

